body {
	/*margin-bottom: 100px;*/
}

.btn-submit {
	margin-left: 30px;
}

.checkbox-label {
	margin-right: 7px;
}

.change-file-name {
	/*width: 30%;*/
}

.form {
	padding-top: 10px
}

.option-table {
	/*width: 30%*/
}

.option-table tr {
	/*height: 5% !important;*/
}

.option-table th {
	border-right: 1px solid #dee2e6 !important;
	width: 15% !important;
}

.option-table th, .option-table td {
	border-top: none !important;
	/*border-bottom: 1px solid #dee2e6 !important;*/
	padding-top: 4px !important;
	padding-bottom: 4px !important;
	vertical-align: middle !important;
}

.sub-upload-file {
	margin-left: 30px;
}

.upload-file {
	padding-bottom: 10px;
}